# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/
arena-viewer/dist/
arena-viewer/build/

# Misc
.DS_Store
*.local
*.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Environment
.env
.env.local
.env.production.local
.env.development.local
.env.test.local

# OS
Thumbs.db